.main{
  margin-top: 5%;
  text-align: center;

  
}

h1{
  text-align: center;
  letter-spacing: 6px;
  font-family:  'Fredericka the Great', cursive;
  font-size: 45px !important;
  font-weight: bold;

  
 
}

.card{
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.248);
  font-family: 'Raleway', sans-serif;
}

.card:hover{
  transform: translateY(-10px);
  
}

.cardTitle{
  font-size: 20px;
}

body{
  background-image:url('./assets/stripes-light.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.cardPlacement{
  justify-content: center;
  margin-top: 45px;
  
  
}

.homeButton{
  margin-left:auto;
  margin-right: auto;

}

.fab{
  font-size: 200px;
  color: rgba(0, 0, 0, 0.514);
  margin-top:50px;
}

.fab:hover{
  color: orange;
  transform:translateY(-5px);
  
}

.fab:active{
  transform:translateY(5px);
}

.cards{
  margin-top: 50px;
}

.title{
  font-size: 4rem !important;
}